.main-div {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 4rem;
  align-items: center;
  flex-direction: column;
}

.user-table {
  width: 80%;
}

.user-table th,
.user-table td {
  text-align: center;
  padding: 1rem;
  border: 1px solid #7b5feb;
  color: white;
}

.user-table th {
  background-color: #261f4d;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 #7b5feb, 0 10px 40px 0 rgb(38, 31, 77);
}

.user-table td {
  background-color: #261f4d;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 #7b5feb, 0 10px 40px 0 rgb(38, 31, 77);
}

.user-table button {
  background-color: transparent;
  border: none;
  color: #7b5feb;
  cursor: pointer;
}

.user-table button:hover {
  color: white;
}

h1 {
  color: white;
  margin-bottom: 2rem;
  margin-top: 0rem;
  font-size: 3rem;
}

.search {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  width: 56rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 #7b5feb, 0 10px 40px 0 rgb(38, 31, 77);
}