.profile-div {
    height: auto;
    display: flex;
    justify-content: center;
}

.profile-card {
    width: 20rem;
    height: auto;
    margin-top: 7rem;
    background-color: #261f4d;
    border-radius: 3rem;
    border: 1px solid #7b5feb;
    box-shadow: 0 4px 8px 0 #7b5feb, 0 6px 20px 0 rgb(38, 31, 77);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

span {
    font-weight: bold;
}

p {
    padding-top: 1rem;
    margin-top: 1rem;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    margin-top: 1.5rem;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 5rem;
    border: 1px solid #7b5feb;
    box-shadow: 0 4px 8px 0 #7b5feb, 0 6px 20px 0 rgb(38, 31, 77);
}

.btn {
    border-radius: .5rem;
    height: 2rem;
    width: 7rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: #7b5feb;
    color: white;
    font-size: 1rem;
}

.btn:hover {
    background-color: #6a4cd8;
}

.text-left {
    text-align: left;
    margin-top: 2rem;
}

.profileinput {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 2rem;
    border: none;
    padding: 5px 0px;
    border-bottom: 2px solid #7b5feb;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
}

.profileform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 120px;
    height: 120px;
    background-color: rgb(203, 203, 203);
    border-radius: 50%;
    top: -40px;
    left: 50%;
}
