.main-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 21rem;
    height: 33rem;
    background-color: #261f4d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    border-radius: 3rem;
    border: 1px solid #7b5feb;
    box-shadow: 0 4px 8px 0 #7b5feb, 0 6px 20px 0 rgb(38, 31, 77);
}

.card h1 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input {
    width: 80%;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 2px solid #7b5feb;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input:focus {
    outline: none;
    border-bottom: 2px solid #9a82ff;
}

.input:hover {
    border-bottom: 2px solid white;
}

.button {
    padding: 0.75rem;
    margin-top: 1.5rem;
    background-color: #7b5feb;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    width: 12rem;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #6a4cd8;
}

.link {
    margin-top: 3rem;
    font-size: 0.875rem;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.link:hover {
    color: #9a82ff;
    color: white; 
}

.label {
    margin-right: auto;
    padding-left: 2rem;
}